body{
	height: 100%;
}

#upper{
	text-align: center;
	background: rgb(0,135,81);
	position: absolute;
	height: calc(100% - 50px);
	width: 100%;
	left: 0;
	top: 0;
}

#upper img{
	padding-top: 60px;
	padding-bottom: 20px;
}

#search{
	text-align: center;
}

#lower {
	background: rgb(0,163,221);
	position: absolute;
	top: calc(100% - 50px);
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
}

label{
	text-align: left;
	display:inline-block;
}

input{
	display:block;
}

#about {
  border: 1px solid black;
  margin: 50px 40px 10px 40px;
  max-width: 800px;
}




.arrow-wrap {
  position:absolute;
  z-index: 1;
  left: 50%;
  top: -38px;
  margin-left: -5em;
  background: rgb(0,163,221);
  width: 15px;
  height: 15px;
  padding: 30px 30px;
  border-radius: 38px;
  font-size: 0.5em;
  display: block;
  /*box-shadow: 0px 0px 5px 0px #333;*/
}

.arrow {
  float:left;
  position:absolute;
  top: 30px;
  left: 11px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
   -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

.arrow:after {
  content:'';
  position:absolute;
  top:-32px;
  left:-27px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: rgb(0,163,221) transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}


